body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:974px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-size:27px;
  color:#A9A9A9;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:1020px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-1000px;
  top:39px;
  width:1230px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:260px;
  top:40px;
  width:490px;
  height:98px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:98px;
}
#u6 {
  position:absolute;
  left:2px;
  top:41px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:750px;
  top:40px;
  width:272px;
  height:98px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:98px;
}
#u8 {
  position:absolute;
  left:2px;
  top:41px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:260px;
  top:40px;
  width:490px;
  height:98px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:98px;
}
#u10 {
  position:absolute;
  left:2px;
  top:41px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:218px;
  top:40px;
  width:118px;
  height:98px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:98px;
}
#u12 {
  position:absolute;
  left:2px;
  top:41px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:50px;
  top:46px;
  width:158px;
  height:85px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:85px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:175px;
  width:260px;
  height:520px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
  color:#797979;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:520px;
}
#u16 {
  position:absolute;
  left:2px;
  top:246px;
  width:256px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:334px;
  top:175px;
  width:640px;
  height:520px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
  color:#797979;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:520px;
}
#u18 {
  position:absolute;
  left:2px;
  top:246px;
  width:636px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:336px;
  top:-1px;
  width:160px;
  height:41px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:496px;
  top:0px;
  width:478px;
  height:40px;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:484px;
  height:46px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:45px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u24 {
  position:absolute;
  left:10px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:81px;
  top:0px;
  width:116px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u26 {
  position:absolute;
  left:10px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:197px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u28 {
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:287px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u30 {
  position:absolute;
  left:10px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:383px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u32 {
  position:absolute;
  left:10px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:81px;
  top:40px;
  width:150px;
  height:160px;
  visibility:hidden;
}
#u33_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:166px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:165px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u36 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u38 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u40 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u42 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:150px;
  top:0px;
  width:300px;
  height:400px;
  visibility:hidden;
}
#u43_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:406px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:405px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u46 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u48 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:80px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u50 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:120px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u52 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:160px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u54 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:200px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u56 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:240px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u58 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:280px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u60 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:320px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u62 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:360px;
  width:300px;
  height:40px;
  font-family:'Helvetica';
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u64 {
  position:absolute;
  left:10px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:197px;
  top:40px;
  width:150px;
  height:160px;
  visibility:hidden;
}
#u65_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:166px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:165px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u68 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u70 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u72 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-family:'Helvetica Neue';
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u74 {
  position:absolute;
  left:10px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:974px;
  top:0px;
  width:1000px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:750px;
  top:40px;
  width:272px;
  height:98px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:98px;
}
#u78 {
  position:absolute;
  left:2px;
  top:41px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:900px;
  top:106px;
  width:59px;
  height:25px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u80 {
  position:absolute;
  left:12px;
  top:4px;
  width:45px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:434px;
  top:101px;
  width:172px;
  height:30px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u83 {
  position:absolute;
  left:336px;
  top:101px;
  width:85px;
  height:30px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u85 {
  position:absolute;
  left:904px;
  top:106px;
  width:70px;
  height:25px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u86 {
  position:absolute;
  left:12px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:815px;
  top:106px;
  width:78px;
  height:25px;
  font-family:'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u88 {
  position:absolute;
  left:12px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:-190px;
  top:137px;
  width:200px;
  height:590px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:590px;
}
#u90 {
  position:absolute;
  left:2px;
  top:287px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:720px;
  top:435px;
  width:250px;
  height:260px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-size:11px;
  color:#797979;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u92 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:50px;
  top:435px;
  width:640px;
  height:260px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
  color:#797979;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:260px;
}
#u94 {
  position:absolute;
  left:2px;
  top:122px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:720px;
  top:470px;
  width:250px;
  height:225px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:225px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:720px;
  top:435px;
  width:260px;
  height:29px;
  font-family:'Helvetica Neue';
  font-weight:400;
  color:#666666;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:29px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:50px;
  top:435px;
  width:640px;
  height:29px;
  font-family:'Helvetica Neue';
  font-weight:400;
  color:#666666;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:29px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:50px;
  top:475px;
  width:17px;
  height:185px;
  text-align:left;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:185px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1020px;
  top:39px;
  width:200px;
  height:700px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:700px;
}
#u105 {
  position:absolute;
  left:2px;
  top:342px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:-1025px;
  top:720px;
  width:3024px;
  height:50px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3024px;
  height:50px;
}
#u107 {
  position:absolute;
  left:2px;
  top:18px;
  width:3020px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:-25px;
  top:768px;
  width:1024px;
  height:75px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:75px;
}
#u109 {
  position:absolute;
  left:2px;
  top:30px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:228px;
  top:780px;
  width:64px;
  height:64px;
  opacity:0.5;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u111 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:348px;
  top:784px;
  width:278px;
  height:60px;
  opacity:0.5;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:60px;
}
#u113 {
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:25px;
  top:778px;
  width:129px;
  height:76px;
  opacity:0.5;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u115 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:861px;
  top:785px;
  width:88px;
  height:64px;
  opacity:0.5;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:64px;
}
#u117 {
  position:absolute;
  left:2px;
  top:24px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:695px;
  top:783px;
  width:70px;
  height:65px;
  opacity:0.5;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:65px;
}
#u119 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:52px;
  top:474px;
  width:638px;
  height:225px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:225px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:919px;
  top:470px;
  width:51px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#006600;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:919px;
  top:530px;
  width:51px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#006600;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:919px;
  top:575px;
  width:51px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#006600;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:919px;
  top:620px;
  width:51px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#006600;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:52px;
  top:179px;
  width:638px;
  height:239px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:239px;
}
#u133 {
  position:absolute;
  left:2px;
  top:112px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:700px;
  top:179px;
  width:260px;
  height:87px;
  font-family:'Helvetica Neue';
  font-weight:400;
  color:#666666;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:87px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:600px;
  top:330px;
  width:80px;
  height:80px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u137 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:700px;
  top:266px;
  width:270px;
  height:154px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:154px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:960px;
  top:258px;
  width:81px;
  height:80px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:80px;
}
#u142 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:-9px;
  top:266px;
  width:81px;
  height:80px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:80px;
}
#u144 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
